<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/styles/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
    <script src="../public/scripts/bootstrap.bundle.min.js"></script>
  
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-yellow fixed-top">
    <div class="container">
      <img src="../public/Images/logo-no-background.png" id="logo" alt="logo" class="logo float-left">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Front page</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="forum.html">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forstudents.html">For students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="foremployers.html">For employers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="learningpath.html">Learning paths</a>
        </li>
      </ul>
    </div>
    <div> <class="nav-item" id="profile">
        <a class="nav-link float-right" href="profile.html">Profile</a>
    </div>
  </nav>




</body>
</html>